*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-image: url("Img/Background.jpg");
    height: 100vh;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color:#ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
h1{
    color: rgb(34, 33, 33);
    font-size:4.5vw;
    margin-top: -15vw;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}
h2{
    font-size:2.5vw;
    animation: pulsate 0.11s ease-in-out infinite alternate;
    margin-top:1.5vw ;    
}
@keyframes pulsate {
    100% {
        /* Larger blur radius */
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #f09,
        0 0 80px #f09,
        0 0 90px #f09,
        0 0 100px #f09,
        0 0 150px #f09;
    }
    0% {
        /* A slightly smaller blur radius */
        text-shadow:
        0 0 4px #fff,
        0 0 10px #fff,
        0 0 18px #fff,
        0 0 38px #f09,
        0 0 73px #f09,
        0 0 80px #f09,
        0 0 94px #f09,
        0 0 140px #f09;
    }
}

@media only screen and (max-width: 900px) {
    h1 {
        font-size:7vw;
    }
    h2{
        font-size:5vw;
    }
  }